Resume*/v*/*.aux
Resume*/v*/*.log
Resume*/v*/*.synctex.gz
Resume*/v*/*.dvi
Resume*/v*/*.bbl
Resume*/v*/*.blg
Resume*/v*/*.tex.bak
Resume*/v*/*.bib.bak
Resume*/v*/*.bcf
Resume*/v*/*.run.xml
Resume*/v*/*.out
