<launch>
	<!-- Turtlesim Node -->
	<node pkg="turtlesim" type="turtlesim_node" name="sim" />
	<node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen" />

	<!-- Axes -->
	<param name="scale_linear" value="2" type="double" />
	<param name="scale_angular" value="2" type="double" />

	<node pkg="learning_tf" type="turtle_tf_broadcaster.py" name="turtle1_tf_broadcaster" respawn="false" output="screen">
		<param name="~turtle" value="turtle1" type="string"/>
	</node>
	
	<!-- <node pkg="learning_tf" type="turtle_tf_broadcaster.py" name="turtle2_tf_broadcaster" respawn="false" output="screen">
		<param name="~turtle" value="turtle2" type="string"/>
	</node>
	
	<node pkg="learning_tf" type="turtle_tf_listener.py" name="listener" />
	
	<node pkg="learning_tf" type="fixed_tf_broadcaster.py" name="broadcaster_fixed" />
 -->
</launch>